:root {
    --blue: #0066ff;
}

* {
    font-family: Quicksand;
}

body:not(.open) ul, body:not(.open) #add, body:not(.open) #search,
        #entry:not(.show), #modify:not(.show), #add:not(.show),
        body.open #login, ul:not(.show) {
    display: none;
}

a, a:visited {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: white;
    background: var(--blue);
}

#top {
    position: relative;
    width: 320px;
    margin: 0 auto;
}

#content {
    text-align: center;
}

#content #centered {
    display: inline-block;
    text-align: left;
}

label, input {
    display: block;
}

#masterPassword, label[for='masterPassword'], #search, #server,
        label[for='server'], #error {
    line-height: 1.8em;
    font-size: 1.5em;
    color: var(--blue);
    text-align: center;
}

#server {
    margin-bottom: 1.5em;
}

#masterPassword, #server, #search {
    border: 1px var(--blue) solid;
    border-radius: 2px;
    margin-top: 10px;
    width: 100%;
}

#error {
    display: block;
    margin-top: 0.5em;
    color: darkred;
}

#password {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 1px;
    opacity: 0;
}

#search {
    margin-bottom: 1em;
}

#content {
    position: relative;
    overflow: hidden;
}

ul, #add, #entry, #modify {
    display: inline-block;
    padding: 0.5em;
    margin-left: 1em;
    vertical-align: middle;
}

ul {
    list-style: none;
    text-align: right;
    border-right: 1px var(--blue) solid;
    padding-left: 0.5em;
    min-width: 50px;
}

ul li {
    font-size: 1.2em;
    line-height: 1.5em;
}

#entry {
    font-size: 1.1em;
    line-height: 1.3em;
    padding-top: 1em;
}

#entry a {
    margin-right: 0.5em;
}

#modify input, #modify label {
    font-size: 1.2em;
    line-height: 1.5em;
}

#modify input {
    border: 1px var(--blue) solid;
    border-radius: 2px;
    margin-bottom: 0.25em;
    padding: 0 0.5em;
}

#modify input[type='submit'] {
    display: inline-block;
    background: white;
    padding: 0 0.5em;
    cursor: pointer;
    margin-right: 0.5em;
}

#modify input[type='submit']:hover {
    background: var(--blue);
    color: white;
}

